name: "Test"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate a random number and save to number.txt
        run: echo $((RANDOM)) > number.txt

      - name: Display the contents of number.txt
        run: |
          cat number.txt
          cp number.txt number1.txt

      - uses: "./"
        with:
          files: "number.txt"
          dry-run: true

      - uses: "./"
        with:
          files: "number.txt number1.txt"
          dry-run: true
